@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@source "../node_modules/@ferrucc-io/emoji-picker";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #151515;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #f0f0f0;
  text-decoration: inherit;
}
a:hover {
  color: #bbbbbb;
}

button {
  align-self: flex-start;
  padding: 3px 3px;
  font-size: 0.95em;
  border: none;
  border-radius: 5px;
  background-color: #373737;
  color: white;
  cursor: pointer;
  margin-right: 2px;
}
button:hover {
  background-color: #636363;
}
button:focus,
button:focus-visible {
  background-color: #8c8c8c;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #6e6e6e;
    background-color: #191919;
  }
  a:hover {
    color: #d8d8d8;
  }
  button {
    background-color: transparent;
  }
}